@charset "UTF-8";
.nav > a, .top_nav > a, .toc > a
{
color: #663300;
font-family: Calibri, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
background-color: white;
cursor: pointer;
text-decoration:none;
padding: 10px;
}
.nav > a:hover, .top_nav > a:hover, .toc > a:hover
{
text-decoration:underline;
}

.toc0
{
display: block;
margin-left: 15px;
text-align: center
}

.toc1
{
display: block;
margin-left: 30px;
text-align: center
}


.toc2
{
display: block;
margin-left: 45px;
text-align: center
}

.toc > *:before
{
content: "• ";
}

