@charset "UTF-8";
.nav > a, .top_nav > a, .toc > a
{
color: #663300;
font-family: Calibri, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
background-color: white;
cursor: pointer;
text-decoration:none;
}
.nav > a:hover, .top_nav > a:hover, .toc > a:hover
{
text-decoration:underline;
}

.toc0
{
display: block;
margin-left: 30%;
text-align: left;
line-height:20px;

}

.toc1
{
display: block;
margin-left: 40%;
text-align: left;
line-height:20px;
}


.toc2
{
display: block;
margin-left: 50%;
text-align: left;
line-height:20px;
}

.toc > *:before
{
content: "• ";
}

